HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
#resources/application.properties
src/main/resources/serviceAccountKey.json
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
AIVEN_SETUP_GUIDE.md
EXTERNAL_SERVICES_GUIDE.md
RENDER_DEPLOYMENT_GUIDE.md
REQUIRED_VARIABLES_LIST.md
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
